.project-filter {
  margin: 30px auto;
}
.project-filter nav {
  display: flex;
  padding: 10px;
  /* background-color: #fff; */
  border: 1px solid #0b56a4;
  border-radius: 4px;
}
.project-filter p {
  font-size: 0.9em;
  margin-right: 10px;
}
.project-filter button {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-weight: bold;
  color: #0b56a4;
  cursor: pointer;
  border-right: 1px solid #0b56a4;
  font-size: 0.9em;
}
.project-filter button:last-child {
  border-right: 1px solid #0b56a4;

}
.project-filter button.active {
  color: #e8dec5;
  background-color: #0b56a4;
} 
